// This file should house all of the styles for any archive template.
// Corresponding PHP files are
// archive.php, archive-#{post_type}.php, category.php, category-#{cat_name}.php, taxonomy.php, taxonomy-#{tax_name}.php, search.php, home.php, index.php

.blog,
.search {
  .post {
    &:last-of-type {
      margin-bottom: 2rem;
    }
  }
}

.pagination {
  margin: 2rem 0;

  .nav-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    .page-numbers {
      flex: 0 0 auto;
      border: 1px solid $primary-color;
      padding: 0.25rem 0.5rem;
      margin: 0 0.5rem;
      transition: all 0.25s ease-in;

      &:hover,
      &:focus,
      &.current {
        background-color: $primary-color;
        color: $white;
      }

      &.next {}

      &.prev {}
    }
  }
}
