// This file should house all of the styles for any page template.
// Corresponding PHP files are
// page.php, page-#{template_name}.php

.page-template-page-style_guide {
  .scratch-bg {
    margin-bottom: 1rem;
    position: relative;
  }
}
