// This file should house all of the styles for anything related to the layout of the website.
// Think of <html>, <body>, <main>, <section> tags
// or wrapper classes like .wrap, .contain, .constrain

html {
  background-color: $background-color;
  box-sizing: border-box;
  color: $font-color;
  font-size: $font-size;
  line-height: $line-height;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html,
body {
  height: 100%;
}

header.animated + main {
  padding-top: 72px;
}

%wrap {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;

  @include media(">=tablet") {
    width: 750px;
  }


  @include media(">=desktop") {
    width: 970px;
  }


  @include media(">=widescreen") {
    width: 1170px;
  }
}

.wrap {
  @extend %wrap;

  @include clearfix;
}

%flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.flex-wrap {
  @extend %flex;

  @extend %wrap;
}

.flex-row {
  @extend %flex;
}
