// This file should house all of the styles for any miscellaneous classes.
// Got a random class that doesn't fit anywhere else? Add it here.

.animated {
  animation-duration: 1s;
}

// Hide visually and from screen readers
.hidden {
  display: none !important;
}

// Hide only visually, but have it available for screen readers:
// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
.visuallyhidden,
.screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &.focusable {
    &:active,
    &:focus {
      // Extends the .visuallyhidden class to allow the element
      // to be focusable when navigated to via the keyboard:
      // https://www.drupal.org/node/897638
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}

// Hide visually and from screen readers, but maintain layout
.invisible {
  visibility: hidden;
}

.browserupgrade {
  background: $silver;
  color: $black;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

.white-popup {
  background: $white;
  margin: 1rem auto;
  max-width: 700px;
  padding: 20px;
  position: relative;
  width: auto;
}

.acf-map {
  border: $gray solid 1px;
  height: 400px;
  margin: 20px 0;
  width: 100%;
}

.gm-style {
  img {
    max-width: none;
  }
}

.overlay {
  background-color: $overlay-color;
  height: 100%;
  position: relative;
  width: 100%;
}

.circle {
  border-radius: 50%;
}

.clearfix {
  @include clearfix;
}

// HELPER CLASSES
.hpad {
  padding-left: 1rem;
  padding-right: 1rem;
}

.vpad {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.hpad-2x {
  padding-left: 2rem;
  padding-right: 2rem;
}

.vpad-2x {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.hpad-3x {
  padding-left: 3rem;
  padding-right: 3rem;
}

.vpad-3x {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.pad {
  padding: 1rem;
}

.pad-2x {
  padding: 2rem;
}

.pad-3x {
  padding: 3rem;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.alignleft {
  @include media(">=tablet") {
    float: left;
    margin: 0 1rem 1rem 0;
  }


  margin: 1rem auto;
}

.aligncenter {
  clear: both;
  margin: 1rem auto;
}

.alignright {
  @include media(">=tablet") {
    float: right;
    margin: 0 0 1rem 1rem;
  }


  margin: 1rem auto;
}

.halign {
  @include media(">=tablet") {
    @include halign;
  }
}

.valign {
  @include media(">=tablet") {
    @include valign;
  }
}

.hvalign {
  @include media(">=tablet") {
    @include hvalign;
  }
}

.halign-always {
  @include halign;
}

.valign-always {
  @include valign;
}

.hvalign-always {
  @include hvalign;
}

.italize {
  font-style: italic;
}

.bold {
  font-weight: bold;
}
