// This file should house all of the styles for anything typography related.
// Think <h1>, <h2>, <h3>, <p>, <hr>, <pre> tags.

body {
  color: $font-color;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
}

$headings: (h1: (2.5, 2, 4, 1), h2: (1.6875, 1.5, 2.5, 0.5), h3: (1.375, 1, 2, 0.5), h4: (1.2, 1, 1.5, 0.5), h5: (1, 1, 2.5, 0.5), h6: (1, 1, 2.5, 0.5));

$_headings-list: "h1", "h2", "h3", "h4", "h5", "h6";

// Set headings sizes, line-heights and margins
@each $heading, $properties in $headings {
  #{$heading},

  .#{$heading} {
    font-family: $heading-font-family;
    font-size: modular-scale(nth($properties, 1));
    font-weight: bold;
    line-height: nth($properties, 2);
    margin-bottom: unquote(nth($properties, 4) + "rem");
    margin-top: unquote(nth($properties, 3) + "rem");
  }
}

// Set margins between headings
h1 + h2,
.h1 + .h2 {
  margin-top: 1.5rem;
}

h2 + h3,
.h2 + .h3,
h3 + h4,
.h3 + .h4,
h4 + h5,
.h4 + .h5 {
  margin-top: 0.75rem;
}

h5 + h6,
.h5 + .h6 {
  margin-top: 0.5rem;
}

p {
  margin: 0 0 $small-spacing;
}

hr {
  border-bottom: $primary-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  display: block;
  height: 1px;
  margin: $primary-spacing 0;
  padding: 0;
}

blockquote {
  background: lighten($silver, 15%);
  border-left: 0.25rem solid lighten($gray, 20%);
  margin: $primary-spacing 0;
  padding: $primary-spacing $small-spacing;
  position: relative;
  quotes: "“" "”";

  &::before {
    color: lighten($gray, 20%);
    content: open-quote;
    font-size: 4rem;
    position: absolute;
    top: -1.5rem;
  }

  p {
    display: inline;
  }
}

cite {
  display: block;
  font-style: normal;
}

small,
.small {
  font-size: 70%;
  line-height: $line-height;
}

// Code
code,
kbd,
pre,
samp,
.code {
  background-color: $gray;
  border: 1px solid $silver;
  border-radius: 4px;
  color: $font-color;
  font-size: 16px;
  line-height: 1.4;
  padding: 1px 3px;
}

code,
kbd,
samp,
.code {
  display: inline-block;
  vertical-align: middle;
}

pre,
.pre {
  display: block;
  margin-bottom: $primary-spacing;
  margin-left: auto;
  margin-right: auto;
  margin-top: $primary-spacing;
  overflow-x: auto;
  padding: 8px 12px 10px;
}

br {
  &.brm {
    @include media(">=tablet") {
      display: none;
      visibility: hidden;
    }
  }

  &.mbr {
    @include media(">=tablet") {
      display: block;
      visibility: visible;
    }


    display: none;
    visibility: hidden;
  }
}
