.blurb {
  width: 100%;

  > h1, > h2, > h3, > h4, > h5, > h6 {
    &:first-child {
      margin-top: 0;
    }
  }
}

.hero-unit,
.flexible-columns,
.staggered,
.wysiwygs {
  .circle {
    background-color: $primary-layout-color;
    margin: 0 auto;
    position: relative;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: background-color, color, opacity;
    transition-timing-function: ease-in-out;

    i {
      display: block;
      transition: color 0.25s ease-in-out 0s;
    }

    &.scratch-bg {
      background-color: transparent;
    }
  }
}

@import "layouts/cards";
@import "layouts/flexible-columns";
@import "layouts/hero-unit";
@import "layouts/image-blocks";
@import "layouts/logos-section";
@import "layouts/multiple-images";
@import "layouts/slider";
@import "layouts/staggered-rows";
@import "layouts/toggles";
@import "layouts/video";
@import "layouts/wysiwygs";
