// ==========================================================================
// Colors
// ==========================================================================

// Cool Colors
$aqua: #7fdbff;
$blue: #0074d9;
$navy: #001f3f;
$teal: #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime: #01ff70;

// Warm Colors
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;

// Gray Scale
$white: #fff;
$silver: #ccc;
$gray: #666;
$black: #000;

// Action Colors
$primary-color: $blue;
$alt-color: $orange;

// Font colors
$font-color: $black;
$heading-font-color: $primary-color;
$border-color: $primary-color;

// Color Classes
$colors: "aqua" $aqua, "blue" $blue, "navy" $navy, "teal" $teal, "green" $green, "olive" $olive, "lime" $lime, "yellow" $yellow, "orange" $orange, "red" $red, "fuchsia" $fuchsia, "purple" $purple, "maroon" $maroon, "white" $white, "gray" $gray, "silver" $silver, "black" $black;

@each $color in $colors {
  $label: nth($color, 1);
  $value: nth($color, 2);

  .#{$label} {
    color: $value;
  }

  .#{$label}-bg {
    background-color: $value;
  }
}

// ==========================================================================
// Typography
// ==========================================================================

// Import Google Fonts
@import url("//fonts.googleapis.com/css?family=Oswald:400,400i,700, 700i|PT+Sans:300,300i,400,400i,700, 700i");

// Font family
$font-family: "PT Sans", sans-serif;
$heading-font-family: "Oswald", sans-serif;

// Font sizes
$font-size: 16px;
$heading-font-size: $font-size;

// Line height
$line-height: 1.5;
$heading-line-height: 1.2;

// ==========================================================================
// Base Variables
// ==========================================================================

// Layout
$background-color: $white;
$alt-background-color: tint($background-color, 75%);

// Borders
$primary-border: 1px solid $border-color;
$primary-border-radius: 3px;

// Spacing
$primary-spacing: $line-height * 1em;
$small-spacing: $primary-spacing / 2;

// Miscellaneous
$overlay-color: rgba($black, 0.4);

// ==========================================================================
// General Variables
// ==========================================================================

// Breakpoints
$breakpoints: (phone: 480px, tablet: 768px, desktop: 992px, widescreen: 1200px);

// Animations
$primary-duration: 150ms;
$primary-timing-function: ease;

// ==========================================================================
// Components
// ==========================================================================

// Links
$primary-link-color: $primary-color;
$primary-hover-link-color: shade($primary-link-color, 20%);

$alt-link-color: $alt-color;
$alt-hover-link-color: shade($alt-link-color, 20%);

// Buttons
$primary-button-bg: $primary-link-color;
$primary-button-bg-hover: shade($primary-button-bg, 20%);

$alt-button-bg: $black;
$alt-button-bg-hover: shade($alt-button-bg, 20%);

$primary-button-color: $white;

// Forms

// Lists

// Media

// Tables

// ==========================================================================
// Partials
// ==========================================================================

// Footer

// Header
$header-color: $primary-color;

// Sidebar

// Comments
$comment-gutter: 1.4em;
$comment-image-padding: 0.7em;
$comment-image-width: 4em;
$comment-color: $font-color;
$comment-background: lighten($primary-color, 15%);
$comment-detail-color: transparentize($comment-color, 0.5);
$comment-image-vert-alignment: top;

// ==========================================================================
// Layouts
// ==========================================================================

$primary-layout-color: $primary-color;
$primary-icon-color: $white;

// Flexible Columns
$column-circle-size: 190px;
$column-icon-size: 3rem;
$column-icon-color: $primary-icon-color;

// Hero Unit

// Slider
$slider-arrow-color: $white;
$slider-dots-color: $slider-arrow-color;

// Staggered Rows
$staggered-row-height: 500px;
$staggered-circle-size: 200px;
$staggered-icon-size: 6rem;
$staggered-icon-color: $primary-icon-color;

// Toggles
$toggle-color: $primary-layout-color;

// WYSIWYGs

// ==========================================================================
// Templates
// ==========================================================================

// Archive

// Home

// Page

// Single
