// Variables
@import "variables";

// Normalize
@import "normalize/import-now";

// Mixins
@import "helpers/mixins";
@import "include-media";

// Base styles
@import "base/typography";
@import "base/layout";
@import "base/misc";

// Components
@import "components/links";
@import "components/buttons";

body.login {
  #login_error, .message {}

  div#login {
    h1 {
      a {
        background-image: url("../img/login-logo.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        padding-bottom: 49px;
        width: 100%;
        height: 100%;
      }
    }

    form#loginform, form#registerform, form#lostpasswordform {
      p {
        label {
          color: $black;
          font-family: $heading-font-family;
          font-weight: 700;
        }

        &.forgetmenot {
          input#rememberme {}
        }

        &.submit {
          input#wp-submit {
            @extend button;

            line-height: 0;
          }
        }
      }

      input {}

      input#user_login {}

      input#user_pass {}
    }

    p#nav {
      a {
        @extend a;
      }
    }

    p#backtoblog {
      a {
        @extend a;
      }
    }
  }
}
