// Variables
@import "variables";

// Normalize
@import "normalize/import-now";

// THIRD PARTY
// You're free to add & remove third-party styles here.

$slick-font-path: "../fonts/";

@import "slick.scss";
@import "slick-theme.scss";
@import "magnific-popup";
@import "font-awesome";

// Enable animations by setting variable `$use-animationName: true;`
// See all animations available --> node_modules/animate-sass/helpers/settings
$use-all: true;

@import "animate";

@import "helpers/mixins";
@import "include-media";

@import "base";

@import "components";

@import "layouts";

@import "partials";

@import "templates";

@media print {
  @import "helpers/print";
}
