@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

// CSS Horizontal Centering
@mixin halign {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
}

// CSS Vertical Centering
@mixin valign {
  margin-bottom: 0;
  margin-top: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// CSS Horizontal & Vertical Centering
@mixin hvalign {
  left: 50%;
  margin-bottom: 0;
  margin-top: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

// Font Awesome
@mixin icons {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

// WebKit-proof
@mixin webkit-proof {
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  overflow: hidden;
  position: relative;
}

@mixin size($value) {
  $width: nth($value, 1);
  $height: $width;

  @if length($value) > 1 {
    $height: nth($value, 2);
  }

  @if is-size($height) {
    height: $height;
  } @else {
    @warn "`#{$height}` is not a valid length for the `$height` parameter in the `size` mixin.";
  }

  @if is-size($width) {
    width: $width;
  } @else {
    @warn "`#{$width}` is not a valid length for the `$width` parameter in the `size` mixin.";
  }
}

// Scaling Variables
$golden: 1.618;
$minor-second: 1.067;
$major-second: 1.125;
$minor-third: 1.2;
$major-third: 1.25;
$perfect-fourth: 1.333;
$augmented-fourth: 1.414;
$perfect-fifth: 1.5;
$minor-sixth: 1.6;
$major-sixth: 1.667;
$minor-seventh: 1.778;
$major-seventh: 1.875;
$octave: 2;
$major-tenth: 2.5;
$major-eleventh: 2.667;
$major-twelfth: 3;
$double-octave: 4;

$modular-scale-ratio: $perfect-fourth !default;
$modular-scale-base: $font-size !default;

@function modular-scale(
  $increment,
  $value: $modular-scale-base,
  $ratio: $modular-scale-ratio
) {
  $v1: nth($value, 1);
  $v2: nth($value, length($value));
  $value: $v1;

  // scale $v2 to just above $v1
  @while $v2 > $v1 {
    $v2: $v2 / $ratio; // will be off-by-1
  }

  @while $v2 < $v1 {
    $v2: $v2 * $ratio; // will fix off-by-1
  }

  // check AFTER scaling $v2 to prevent double-counting corner-case
  $double-stranded: $v2 > $v1;

  @if $increment > 0 {
    @for $i from 1 through $increment {
      @if $double-stranded and $v1 * $ratio > $v2 {
        $value: $v2;
        $v2: $v2 * $ratio;
      } @else {
        $v1: $v1 * $ratio;
        $value: $v1;
      }
    }
  }

  @if $increment < 0 {
    // adjust $v2 to just below $v1
    @if $double-stranded {
      $v2: $v2 / $ratio;
    }

    @for $i from $increment through -1 {
      @if $double-stranded and $v1 / $ratio < $v2 {
        $value: $v2;
        $v2: $v2 / $ratio;
      } @else {
        $v1: $v1 / $ratio;
        $value: $v1;
      }
    }
  }

  @return $value;
}
