// This file should house all of the styles for any buttons.

p.button-wrapper {
  margin: 0;
}

button,
.button,
.btn,
[type=button],
[type=reset],
[type=submit] {
  -webkit-font-smoothing: antialiased;
  appearance: none;
  background-color: $primary-button-bg;
  border: 0;
  border-radius: $primary-border-radius;
  color: $primary-button-color;
  cursor: pointer;
  display: inline-block;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $primary-spacing;
  text-align: center;
  text-decoration: none;
  transition: background-color $primary-duration $primary-timing-function;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: $primary-button-bg-hover;
    color: $primary-button-color;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $primary-button-bg;
    }
  }

  &.alt {
    background-color: $alt-button-bg;

    &:hover,
    &:focus {
      background-color: $alt-button-bg-hover;
    }
  }
}
