// This file should house all of the styles for any form elements.

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
}

input,
select,
textarea {
  display: block;
  font-family: $font-family;
  font-size: $font-size;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
textarea {
  appearance: none;
  background-color: $background-color;
  border: $primary-border;
  border-radius: $primary-border-radius;
  box-shadow: inset 0 1px 3px rgba($white, 0.06);
  box-sizing: border-box;
  margin-bottom: $small-spacing;
  padding: $primary-spacing / 3;
  transition: border-color $primary-duration $primary-timing-function;
  width: 100%;

  &:hover {
    border-color: shade($border-color, 20%);
  }

  &:focus {
    border-color: $primary-color;
    box-shadow: inset 0 1px 3px rgba($white, 0.06), 0 0 5px rgba($primary-color, 0.7);
    outline: none;
  }

  &:disabled {
    background-color: shade($background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $primary-border;
    }
  }

  &::placeholder {
    color: tint($font-color, 40%);
  }
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  cursor: pointer;
  display: inline;
  margin-right: $small-spacing / 2;
}

[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $small-spacing;
  width: 100%;
}
