// This file should house all of the styles for any links.

a {
  color: $primary-link-color;
  text-decoration: none;
  transition: color $primary-duration $primary-timing-function;

  &:active,
  &:focus,
  &:hover {
    color: $primary-hover-link-color;
  }
}
