// This file should house all of the styles for any lists.

ul,
ol {
  margin: 0;
  padding: 0;
}

ul.hide-bullets,
ol.hide-bullets {
  list-style-type: none;
  padding-left: 1rem;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}
