// This file should house all of the styles for any media related elements.
// Think <img>, <figure>, <audio>, <video> tags.

// Remove the gap between audio, canvas, iframes,
// images, videos and the bottom of their containers:
// https://github.com/h5bp/html5-boilerplate/issues/440
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

.scratch-bg,
.scratch-image,
.scratch-video {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

figure {
  margin: 0;
}

img,
picture {
  height: auto;
  margin: 0;
  max-width: 100%;
}

figcaption {
  color: $font-color;
  font-size: 0.8125rem;
  font-style: italic;
  text-align: center;
}

// WordPress Image Styles
[class^="wp-image-"],
[class*=" wp-image-"],
.wp-caption {
  display: block;
  height: auto;
  max-width: 100%;

  .wp-caption & {
    border: 0;
    padding: 0;
  }

  .wp-caption-text {
    font-size: 75%;
    font-style: italic;
    margin: 0;
    padding: 16px 16px 12px;
  }
}

// oEmbed Styles
// To make an oEmbed responsive, simply wrap it in .embed-container
.embed-container {
  background-color: $background-color;
  height: 0;
  margin-bottom: $primary-spacing;
  margin-left: auto;
  margin-right: auto;
  margin-top: $primary-spacing;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

iframe,
object,
embed {
  background-color: $background-color;
  display: block;
  margin-bottom: $primary-spacing;
  margin-left: auto;
  margin-right: auto;
  margin-top: $primary-spacing;
  max-width: 100%;

  .embed-container & {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
