.cards {
  [class^="row-"],
  [class*=" row-"] {
    @extend .flex-row;

    align-items: stretch;
    width: 100%;
  }

  [class^="column-"],
  [class*=" column-"] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $white;
    border: 1px solid rgba($black, 0.125);
    border-radius: 0.25rem;
    margin-bottom: 2rem;
  }

  .card-img-top {
    border-top-right-radius: calc(0.25rem - 1px);
    border-top-left-radius: calc(0.25rem - 1px);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .card-block {
    flex: 1 1 auto;
    padding: 1.25rem;
  }

  .card-title {
    margin-bottom: 0.75rem;
  }

  .card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0.5rem;
    color: #636c72;
  }
}
