// This file should house all of the styles for the Flexible Columns layout.
// The corresponding PHP file is layouts/layout-flexible_columns.php

.flexible-columns {
  [class^="row-"],
  [class*=" row-"] {
    // row-specific styles here
    @extend .flex-row;

    align-items: stretch;
    width: 100%;
  }

  [class^="column-"],
  [class*=" column-"] {
    // column-specific styles here
    text-align: center;
    margin-bottom: 2rem;

    .circle {
      @include size($column-circle-size);

      i {
        color: $column-icon-color;
        font-size: $column-icon-size;
      }
    }

    a {
      &:hover,
      &:focus {
        text-decoration: none;

        .circle {
          opacity: 0.8;
        }

        i {
          color: $column-icon-color;
          font-size: $column-icon-size;
        }
      }
    }
  }
}
