// This file should house all of the styles for the Hero Unit layout.
// The corresponding PHP file is layouts/layout-hero_unit.php

.hero-unit {
  margin-bottom: 2rem;

  .scratch-bg {
    height: auto;
  }
}
