.image-blocks {
  [class*=" row-"],
  [class^="row-"] {
    @extend .flex-wrap;
  }

  [class*=" column-"],
  [class^="column-"] {
    position: relative;
    margin-bottom: 2rem;
  }

  .tile {
    background-color: $primary-color;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

    @media (min-width: 768px) {
      min-height: 525px;
    }

    @media (min-width: 935px) {
      min-height: 475px;
    }
  }

  .overlay {
    position: absolute;
  }

  .post-content {
    color: $white;
    padding: 60px 40px;
    position: relative;
    text-align: center;
    z-index: 1;

    &.valign {
      @media (min-width: 767px) {
        position: absolute;
      }
    }

    h3 {
      margin-top: 0;
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: 0;
    }

    .button {
      display: inline-block;
      margin-top: 2rem;
    }
  }
}
