.logos {
  margin-bottom: 2rem;
}

.all-logos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

  .logo {
    flex: 0 0 auto;
  }
}

.logo {
  margin: 1rem;
}
