.multiple {
  margin-bottom: 2rem;

  .flex-wrap {
    align-items: stretch;
  }

  .content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    > h1, > h2, > h3, > h4, > h5, > h6 {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  .images {
    display: flex;
    justify-content: center;
    align-items: center;

    @include media("<tablet") {
      margin-bottom: 2rem;
    }
  }

  .gallery {
    @extend .clearfix;

    width: 100%;

    > img {
      float: left;
    }

    .full {
      width: 100%;
    }

    .half {
      width: 50%;

      &:first-child {
        padding-right: .5rem;
      }

      &:last-child {
        padding-left: .5rem;
      }
    }

    .third {
      &:nth-child(-n + 2) {
        width: 50%;
        margin-bottom: 1rem;
      }

      &:first-child {
        padding-right: .5rem;
      }

      &:nth-child(2) {
        padding-left: .5rem;
      }

      &:last-child {
        @extend .full;
      }
    }

    .quarter {
      width: 50%;

      &:nth-child(-n + 2) {
        margin-bottom: 1rem;
      }

      &:nth-child(odd) {
        padding-right: .5rem;
      }

      &:nth-child(even) {
        padding-left: .5rem;
      }
    }
  }
}
