// This file should house all of the styles for the Sliders layout.
// The corresponding PHP file is layouts/layout-sliders.php

.slider-row {
  margin-bottom: 2rem;

  .slide-text {
    color: $white;
    margin: 0 auto;
    padding: 1rem 2rem;

    @include media(">=tablet") {
      padding: 1rem 6rem;
    }
  }
}

.slick-slider {
  .slick-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .slick-arrow {
    background-color: transparent;
    height: auto;
    padding: 0;
    width: auto;
    z-index: 1;

    &::before {
      content: '';
    }

    &.slick-prev {
      left: 25px;

      [dir="rtl"] & {
        left: auto;
        right: 25px;

        .fa {
          &::before {
            content: '\f054'; // Right arrow

          }
        }
      }
    }

    &.slick-next {
      right: 25px;

      [dir="rtl"] & {
        left: 25px;
        right: auto;

        .fa {
          &::before {
            content: '\f053'; // Left arrow

          }
        }
      }
    }

    &:hover,
    &:focus {
      outline: none;

      i {
        opacity: 1;
      }
    }

    i {
      color: $slider-arrow-color;
      font-size: 2rem;
      opacity: 0.75;
    }
  }

  &.slick-dotted {
    margin-bottom: 0;
  }

  .slick-dots {
    line-height: 0;

    li {
      height: 15px;
      width: 15px;
    }

    button {
      background-color: transparent;
      height: 15px;
      padding: 0;
      width: 15px;

      &::before {
        font-size: 15px;
        height: 15px;
        line-height: 17px;
        width: 15px;
      }
    }
  }
}

.slick {
  &,
  .slick-slide {
    height: 350px;
    overflow: hidden;

    @include media(">=tablet") {
      height: 500px;
    }
  }

  .slick-dots {
    bottom: 5%;

    .slick-active {
      button {
        &::before {
          color: $slider-dots-color;
        }
      }
    }

    button {
      &::before {
        color: $slider-dots-color;
      }
    }
  }
}

.slide-logos {
  .slick-dots {
    bottom: 0;

    .slick-active {
      button {
        &::before {
          color: $primary-color;
        }
      }
    }

    button {
      &::before {
        color: $primary-color;
      }
    }
  }
}
