// This file should house all of the styles for the Staggered Rows layout.
// The corresponding PHP file is layouts/layout-staggered_rows.php

.staggered {
  margin-bottom: 2rem;

  img {
    display: block;
    margin: 0 auto;
  }

  .circle {
    @include size($staggered-circle-size);

    &.icon {
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        color: $staggered-icon-color;
        font-size: $staggered-icon-size;
      }
    }
  }

  .row {
    &:nth-child(odd) {
      background-color: $silver;
    }

    @include media("<tablet") {
      .flex-wrap {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }

      .fivecol {
        margin-bottom: 2rem;
      }
    }

    @include media(">=tablet") {
      height: $staggered-row-height;

      .flex-wrap {
        height: 100%;
      }

      .last {
        order: 1;
      }
    }
  }
}
