// This file should house all of the styles for the Toggles layout.
// The corresponding PHP file is layouts/layout-toggles.php

.toggles {
  margin-bottom: 2rem;
}

.toggle-content {
  display: none;
  margin-bottom: 2rem;
  padding: 1rem 1rem 0;
  position: relative;

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.toggle-heading {
  border: 1px solid $toggle-color;
  color: $toggle-color;
  cursor: pointer;
  display: block;
  margin: 1.5rem auto 0;
  padding: 0.25rem 1.75rem 0.25rem 0.5rem;
  position: relative;

  &::after {
    @include icons;

    bottom: 0.2rem;
    color: $toggle-color;
    content: "\f078";
    display: block;
    line-height: inherit;
    position: absolute;
    right: 0.5rem;
  }

  &.active {
    &::after {
      content: "\f077";
    }
  }
}
