[id^="scratch-layout-"].video {
  height: 720px;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 2rem;

  .scratch-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  div.scratch-video {
    display: none;
    opacity: 0;
  }

  video.scratch-video {
    display: block;
  }

  .overlay {
    transform: translateY(-100%);
    z-index: 5;
  }

  .wrap {
    height: 100%;
  }
}
