// This file should house all of the styles for the WYSIWYGS layout.
// The corresponding PHP file is layouts/layout-wysiwyg.php

.wysiwygs {
  [class^="row-"],
  [class*=" row-"] {
    // row-specific styles here
    @extend .flex-row;

    width: 100%;
  }

  [class^="column-"],
  [class*=" column-"] {
    // column-specific styles here
    margin-bottom: 2rem;
  }
}
